<%= render "shared/header" %>
<main class="main">
  <div class="inner">
  <div class="wrapper">
     <div class="game-image"><%= link_to "試合結果", "#", class: "game" %></div>
 <div class="tr-image">
  <ul class="menu">
    <li>
    <%= link_to "練習メニュー", training_path(@trainings), method: :get, class: "tr" %>
      <ul class="menuSub">
        <li><a href="/totals/">全体練習</a></li>
        <li><a href="/fws/">攻撃練習</a></li>
        <li><a href="/dfs/">守備練習</a></li>
        <li><a href="/gks/">GK練習</a></li>
        <li><a href="/lists/">練習リスト</a></li>
      </ul>
    </li>
  </ul>
 </div>
     <div class="skd-image"><%= link_to "スケジュール", "#", class: "skd" %></div>
     <div class="intro-image"><%= link_to "チーム紹介", "#", class: "intro" %></div>
  <div class="ot-image">
   <ul class="menu">
    <li>
    <%= link_to "設定", others_path(@others), method: :get, class: "ot" %>
      <ul class="menuSub">
        <li><a href="/users/sign_up">新規登録</a></li>
        <li><a href="/users/sign_in">ログイン</a></li>
      <% if user_signed_in? %>
          <li><a href="/users/sign_out">ログアウト</a></li>
      <% end %>
      </ul>
    </li>
  </ul>
 </div>
  </div>
     <footer>
    </footer>
   </div>
</main>