<%= render "shared/header" %>
<main class="main">
  <div class="inner">
  <div class="wrapper">
<<<<<<< Updated upstream
     <div class="game_image"><%= link_to "試合結果", "#", class: "game" %></div>
     <div class="tr_image"><%= link_to "練習メニュー", training_path(@trainings), method: :get, class: "tr" %></div>
             <%#= link_to item_path(item.id), method: :get do %>
     <div class="skd_image"><%= link_to "スケジュール", "#", class: "skd" %></div>
     <div class="intro_image"><%= link_to "チーム紹介", "#", class: "intro" %></div>
     <div class="set_image"><%= link_to "設定", "#", class: "set" %></div>
=======
     <div class="game-image"><%= link_to "試合結果", "#", class: "game" %></div>
     <div class="tr-image"><%= link_to "練習メニュー", training_path(@trainings), method: :get, class: "tr" %></div>
     <div class="skd-image"><%= link_to "スケジュール", "#", class: "skd" %></div>
     <div class="intro-image"><%= link_to "チーム紹介", "#", class: "intro" %></div>
     <div class="set-image"><%= link_to "設定", "#", class: "set" %></div>
>>>>>>> Stashed changes
  </div>
     <footer>
    </footer>
   </div>
</main>