<main class="main">
  <div class="inner">
    <header class="header">
       <p class="title-name">TEAM MG</p>
    </header>
  <div class="wrapper">
     <div class="game_image"><%= link_to "試合結果", "#", class: "game" %></div>
     <div class="tr_image"><%= link_to "練習メニュー", new_training_path, class: "tr" %></div>
     <div class="skd_image"><%= link_to "スケジュール", "#", class: "skd" %></div>
     <div class="intro_image"><%= link_to "チーム紹介", "#", class: "intro" %></div>
     <div class="set_image"><%= link_to "設定", "#", class: "set" %></div>
  </div>
     <footer>
    </footer>
   </div>
</main>