<%= render "shared/header" %>
<%# 練習メニューの概要 %>
<div class="tr-show">
 <h1>練習メニュー</h1>
     <div class="tr-all"><%= link_to "全体練習", "#", class: "all" %></div>
     <div class="tr-fw"><%= link_to "FW練習", "#", class: "fw" %></div>
     <div class="tr-mf"><%= link_to "MF練習", "#", class: "mf" %></div>
     <div class="tr-df"><%= link_to "DF練習", "#", class: "df" %></div>
     <div class="tr-gk"><%= link_to "GK練習", "#", class: "gk" %></div>
     <div class="tr-list"><%= link_to "練習リスト", "#", class: "list" %></div>
     <footer>
    </footer>
   </div>
</main>