<%= render "shared/header" %>
<%# 練習メニューの概要 %>
<div class="tr-show">
 <h1>練習メニュー</h1>
     <div class="tr-total"><%= link_to "全体練習",totals_path, method: :get, class: "total" %></div>
     <div class="tr-fw"><%= link_to "攻撃練習",fws_path, method: :get, class: "fw" %></div>
     <div class="tr-df"><%= link_to "守備練習", "#", class: "df" %></div>
     <div class="tr-gk"><%= link_to "GK練習", "#", class: "gk" %></div>
     <div class="tr-list"><%= link_to "練習リスト", "#", class: "list" %></div>
     <footer>
    </footer>
   </div>
</main>