<%= render "shared/header" %>
   <div class="df-new">
  <% if user_signed_in? %>
   <%= link_to "守備練習投稿", new_df_path, class: "df" %>
  <% end %>
  <div class="contents row">
    <% @dfs.each do |df| %>
        <p><%= df.text %></p>
        <span class="name">
          <%= df.name %>
        </span>
    <% end %>
         <%= render "shared/trs" %>
    </div>
  </div>
  <%#= image_tag df.image.variant(resize: '500x500'), class: 'df-image' if df.image.attached? %>
 </div>